<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eloquent OS Installer</title>

    <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/ladda/dist/ladda.min.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">

    <!-- jQuery -->
    <script>
        window.$ = window.jQuery = require('../bower_components/jquery/dist/jquery.min.js');
    </script>
  </head>
  <body>
      <div class="site-wrapper">
          <div class="site-wrapper-inner">

              <div class="cover-container">

                 <div class="inner cover">
                     <h1 class="cover-heading">Eloquent OS</h1>
                     <p class="lead">Welcome to the Eloquent OS installer. To install Eloquent OS, click "Install Now". To erase/modify your disks, click "Disk Utility"</p>
                     <p class="lead">
                         <a id="disk-util" href="#" class="btn btn-lg btn-default">Disk Utility</a>
                         <a href="#" class="btn btn-lg btn-default">Install Now</a>
                     </p>
                 </div>

             </div>

         </div>

   </div>

    <!-- Bootstrap -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/ladda/dist//ladda.min.js"></script>
    <script src="../assets/js/app.js"></script>
  </body>
</html>
