<!DOCTYPE html>
<html lang="en" ng-app="installer">
    <head>
        <meta charset="utf-8">

        <title>Eloquent OS Installer</title>

        <!-- Bootstrap -->
        <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../bower_components/ladda/dist/ladda.min.css" rel="stylesheet">
        <link href="../../assets/css/main.css" rel="stylesheet">

        <!-- Angular -->
        <script src="../../bower_components/angular/angular.js"></script>
        <script src="../../bower_components/angular-route/angular-route.js"></script>

        <!-- jQuery -->
        <script>
            window.$ = window.jQuery = require('../../bower_components/jquery/dist/jquery.min.js');
        </script>

        <!-- Bootstrap -->
        <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Ladda -->
        <script src="../../bower_components/ladda/dist/spin.min.js"></script>
        <script src="../../bower_components/ladda/dist/ladda.min.js"></script>
        <script src="../../bower_components/ladda-angular/dist/ladda-angular.min.js"></script>

        <script src="../../assets/js/app.js"></script>
        <script src="../../assets/js/controllers.js"></script>
    </head>
    <body>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="inner cover" ng-view>

                    </div>

                </div>

            </div>

        </div>

    </body>
</html>
